//fuentes
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,600;1,300;1,600&display=swap');
//variables
$colorRosaClaro:#ffd6e0;
$colorSalmon: #ff7496;
$colorCorazon: #fed1da;
$colorVerde: #5f8765;
$colorAmarillo: #fdc438;
$colorRojo: #eb0161;
$colorMorado: #b11f89;
//mixin
@mixin elMedio {
    display: flex;
    align-items: center;
    justify-content: center;}
@mixin margenes {
    margin-top: 70px;
    margin-bottom: 40px;}
//.....................


* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'nunito';
   }

header{
    background-color: $colorRosaClaro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85;
    padding: 5px 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: top 0.3s ease;

    .smaller {
        height: 50px; 
        font-size: 14px;}
    
    img {
    height: 115px;
    width: auto;
    cursor: pointer;
    transition: all 0.3s;}

    img:hover {
        transform: scale(1.2);
    }   
    
    ul{
        li {
            display: inline-block;
            padding: 0 20px;}
        
        li:hover{ 
            transform: scale(1.1);}

        a{
            font-size: 700;
            text-decoration: none;
            color: #000000; }
        


        
            button {
                font-weight: 700;
                color: black;
                padding: 9px 25px;
                background: rgb(252, 252, 252);
                border: none;
                border-radius: 50px;
                cursor: pointer;
                transition: all 0.3s ease 0s;}

            button:hover {
                color: $colorMorado;
                transform: scale(1.1);}    
        
        } 
            
        a:visited {
            font-size: 700;
            text-decoration: none;
            color: #000000;}
            
        a:hover{
            color:$colorMorado;
            font-weight: bold;       
    }

}






.anuncio img {
    position: relative;
    z-index: -1;
    margin-top: 100px;
    height: 500px;
    width: auto;
    border: 4px solid $colorSalmon;
    border-radius: 2%;}

.anuncio {
    @include elMedio();
    margin-top: 100px;}
   

.containerForm{
    margin-bottom: 60px;

    form{
        border: 3px solid $colorSalmon;
        border-radius: 2%;
        padding: 15px;
        margin-bottom: 30px;
        width: 100%;

          input {
            margin-top: 5px;
            margin-bottom: 5px;
            justify-content: center;}
    
    }


}



footer {
   padding-top: 10px;
   background: rgb(255,209,199);
   background: linear-gradient(0deg, rgba(255,209,199,0.59156162464986) 25%, rgba(242,159,201,0.529936974789916) 63%);}



.containerProducts {


    img {
         width: 200px;
         height: 200px;
         margin-top: 20px;
         margin-bottom: 70px;
         @include elMedio();
         margin-left:auto;
        }

    p {
        @include margenes();
        @include elMedio();
        font-size: 25px; }

    img:hover {
        border: 2px solid $colorCorazon;
        border-radius: 5%;}

}